global
#    daemon

defaults
    mode http
    timeout connect 10000
    timeout client  30000
    timeout server  30000
    retries     3

listen hastats *:8080
    mode http
    maxconn 64
    timeout connect 5000
    timeout client 10000
    timeout server 10000
    stats enable
    stats show-legends
    stats uri /

frontend  all 0.0.0.0:80
    default_backend      app

backend app
    #balance     source
    balance     roundrobin
    server app1 app1:5000
    server app2 app2:5000

#listen http-in
#    bind *:8080
#    balance roundrobin
#    server app1 webapp1:5000
#    server app2 webapp2:5000


